---
import { type InferGetStaticParamsType } from 'astro';
import { getCollection } from 'astro:content';
import Layout from '@layouts/Slug.astro';
import { Image } from 'astro:assets';

export const getStaticPaths = async () => {
  const tidyEntries = await getCollection('tidy');
  const utensilsEntries = await getCollection('utensils');
  // const cleanEntries = await getCollection('clean');
  const decorationEntries = await getCollection('decoration');
  const outdoorEntries = await getCollection('outdoor');
  const stationaryEntries = await getCollection('stationary');

  return [
    ...tidyEntries,
    ...utensilsEntries,
    // ...cleanEntries,
    ...decorationEntries,
    ...outdoorEntries,
    ...stationaryEntries
  ].map((entry) => {
    return {
      params: { categories: entry.collection, slug: entry.slug },
      props: { entry }
    };
  });
};

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { categories: categoryName, slug } = Astro.params as Params;

const { entry } = Astro.props;

const {
  data: {
    title,
    // link,
    brand,
    description,
    price,
    // year,
    place,
    made,
    tags,
    dateModified,
    datePublished
  }
} = entry;

const { Content } = await entry.render();
---

<Layout
  title={title}
  description={description}
  price={price}
  made={made}
  tags={tags}
  dateModified={dateModified}
  datePublished={datePublished}
>
  <h1>{title}</h1>
  <div class="place">在{place}獲得</div>
  <Image
    class="cover"
    src={import(`../../assets/${categoryName}/${slug}/cover.jpg`)}
    width={640}
    height={640}
    alt=""
  />
  <span class="brand">{brand}</span>
  <Content />
</Layout>

<style lang="scss">
  h1 {
    margin-block: 0 0.8rem;
    color: var(--color-shade25);
    font-size: clamp(3rem, 1.2vw + 2.25rem, 3.4rem);
  }

  .place {
    margin-block-end: 1.6rem;
    font-size: 1.6rem;
  }

  .cover {
    display: block;
    max-width: 100%;
    height: auto;
    margin-block-end: 1.2rem;
    border-radius: 24px;

    @media screen and (min-width: 992px) {
      max-width: 384px;
    }
  }

  .brand {
    display: block;
    margin-block-end: 1.2rem;
    color: var(--color-shade-64);
    font-size: 1.6rem;
  }

</style>
