---
import { z } from 'zod';
import { categorySchema } from '../../schemas';
import { SITENAME } from '../../../constants';
import Layout from '@layouts/Categories.astro';
import 'node_modules/normalize.css/normalize.css';
import '@styles/global.scss';
import '@fontsource-variable/rubik';
import SlugNavigation from '@components/navigation/Slugs.astro';
import { query } from '@queries/categories';

type categoryProps = z.infer<typeof categorySchema>;

export async function getStaticPaths() {
  const response = await fetch(import.meta.env.SANITY_API_URL, {
    method: 'POST',
    headers: {
      Authorization: `bearer ${import.meta.env.SANITY_API_KEY}`,
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ ...query })
  });
  const json = await response.json();
  const { allCategory } = json.data;
  return allCategory.map(({ slug, title }: categoryProps) => ({
    params: { categories: slug.current },
    props: {
      slug: slug.current,
      title
    }
  }));
}
const { slug, title } = Astro.props as categoryProps;

const pageTitle = `${title}${SITENAME}`;
const description = '蒐集以貓為主題的生活物品。更棒的是，會有驚喜感。';
const dateModified = '2023-07-23T17:10:00+08:00';
const datePublished = '2021-08-11T00:00:00+08:00';
---

<Layout
  title={pageTitle}
  description={description}
  dateModified={dateModified}
  datePublished={datePublished}
>
  <SlugNavigation categorySlug={slug.current} />
  <div class="syllabus">
    <div class="syllabusContainer">
      <h1>{pageTitle}</h1>
    </div>
  </div>
</Layout>

<style lang="scss">
  .syllabus {
    padding-block-start: 1.6rem;

    @media screen and (min-width: 992px) {
      padding-block-start: 2.4rem;
    }
  }

  .syllabusContainer {
    max-width: 672px;
    margin-inline: auto;

    @media screen and (min-width: 992px) {
      padding-inline: 1.6rem;
    }

    :global(p) {
      margin-block-start: 0;
      color: var(--colorShade25);
      font-size: clamp(1.8rem, 1.125vw + 1rem, 2.2rem);
      line-height: 1.5;
    }
  }

  h1 {
    margin-block: 0 1.6rem;
    color: var(--colorShade25);
    font-size: clamp(3rem, 1.2vw + 2.25rem, 3.4rem);
  }
</style>
