---
import { SITENAME } from '../../constants';
import Layout from '@layouts/Index.astro';
// import { getUser } from '../auth';
import MailingList from '@components/MailingList';

const description = '你也喜歡眼角餘光瞄到貓的驚喜感嗎？一起讓貓商品充滿視線各個角落。';
const dateModified = new Date('2023-12-15T17:10:00+08:00');
const datePublished = new Date('2021-08-11T00:00:00+08:00');

// const user = await getUser();
---

<Layout
  title={SITENAME}
  description={description}
  dateModified={dateModified}
  datePublished={datePublished}
>
  <h1 class="title">{SITENAME}</h1>
  <!-- <div>{console.log({ user })}</div> -->
  <p class="description">{description}</p>
  <aside class="mailingListLayout">
    <MailingList client:only="solid-js" />
  </aside>
</Layout>

<style lang="scss">
  .title {
    margin-block-start: 0;
    margin-block-end: 2.4rem;
    color: var(--colorShade25);
    font-size: 2.4rem;
  }

  .description {
    margin-block-start: 0;
    margin-block-end: 2.4rem;
    color: var(--colorShade40);
    font-size: 1.6rem;
  }

  .mailingListLayout {
    margin-inline: -2.4rem;
    padding: 2.4rem;
    background-color: var(--colorShade96);

    @media screen and (min-width: 992px) {
      border-radius: 0.8rem;
    }
  }
</style>
